<html>
<body>
<h1>My Shop</h1>
<p>
    Invoice no. {{ order.id }}</br>
    <span class="secondary">
      {{ order.created|date:"M d, Y" }}
    </span>
</p>

<h3>Bill to</h3>
<p>
    {{ order.client.name }} <br>
    {{ order.client.email }}<br>
    {{ order.address }}<br>
</p>

<h3>From {{order.fromDate}}</h3>
<h3>To {{order.toDate}}</h3>
<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Rate</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>GST - 13%</th>
        <th> Grand Total</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row{% cycle "1" "2" %}">
    <td>Consulting</td>
    <td class="num">${{ order.client.rate }}</td>
    <td class="num">{{ order.hours }}</td>
    <td class="num">${{ order.client.rate *  order.hours }}</td>
    <td class="num">${{ order.client.rate *  order.hours * 0.13 }}</td>
    <td class="num">${{ order.client.rate *  order.hours * 0.13 }}</td>
    </tr>
    {% endfor %}
    <tr class="total">
        <td colspan="5">Total</td>
        <td class="num">${{ order.client.rate *  order.hours * 1.13 }}</td>
    </tr>
    </tbody>
</table>

<!--<span class="{% if order.paid %}paid{% else %}pending{% endif %}">-->
    <!--{% if order.paid %}Paid{% else %}Pending payment{% endif %}-->
  <!--</span>-->
</body>
</html>